In [165]:
import os
import pandas as pd
import numpy as np

In [166]:
raw_data_path=os.path.join('.','data','raw')

In [213]:
train_data_file_path = os.path.join(raw_data_path, 'SCRM_timeSeries_2018_train.csv')
test_data_file_path = os.path.join(raw_data_path, 'SCRM_timeSeries_2018_test.csv')

In [203]:
train_data_file_path#='.\\data\\raw\\SCRM_timeSeries_2018_train.csv'

'.\\data\\raw\\SCRM_timeSeries_2018_train.csv'

In [214]:
#Read the data
df_train = pd.read_csv(train_data_file_path)
df_test = pd.read_csv(test_data_file_path)

In [215]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 649999 entries, 0 to 649998
Data columns (total 7 columns):
Timestamp                649999 non-null object
RI_Supplier1             649971 non-null float64
RI_Distributor1          616624 non-null float64
RI_Manufacturer1         649817 non-null float64
RI_Retailer1             649841 non-null float64
Total_Cost               614518 non-null float64
SCMstability_category    649999 non-null int64
dtypes: float64(5), int64(1), object(1)
memory usage: 34.7+ MB

In [216]:
%timeit
df_train['Timestamp'] = pd.to_datetime(df_train['Timestamp'],infer_datetime_format=True)#.apply(lambda x: x.date())

In [78]:
#df_train.set_index('Timestamp', inplace=True)

In [196]:
df_train.head()

,Timestamp,RI_Supplier1,RI_Distributor1,RI_Manufacturer1,RI_Retailer1,Total_Cost,SCMstability_category
0,2018-02-09 12:44:39,1.6396,1.0422,3.1884,3.3609,133.06,4
1,2018-02-09 12:46:39,1.6399,1.0444,3.1877,3.3642,135.02,4
2,2018-02-09 12:48:39,1.6398,1.0422,3.1880,3.3676,135.36,4
3,2018-02-09 12:50:39,1.6403,1.0356,3.1877,3.3705,136.22,4
4,2018-02-09 12:52:39,1.6396,1.0595,3.1888,3.3731,136.48,4

In [207]:
#df_trainnn=df_train.groupby(['Timestamp']).agg({'Timestamp':['count']}).rename(columns={'count':'#Monthly_Sales'}).reset_index()

In [225]:
df_train.groupby(['Timestamp']).Timestamp.count()

Timestamp
2015-01-28 22:40:52    1
2015-01-28 22:42:52    1
2015-01-28 22:44:52    1
2015-01-28 22:46:52    1
2015-01-28 22:48:52    1
2015-01-28 22:50:52    1
2015-01-28 22:52:52    1
2015-01-28 22:54:52    1
2015-01-28 22:56:52    1
2015-01-28 22:58:52    1
2015-01-28 23:00:52    1
2015-01-28 23:02:52    1
2015-01-28 23:04:52    1
2015-01-28 23:06:52    1
2015-01-28 23:08:52    1
2015-01-28 23:10:52    1
2015-01-28 23:12:52    1
2015-01-28 23:16:52    1
2015-01-28 23:18:52    1
2015-01-28 23:20:52    1
2015-01-28 23:22:52    1
2015-01-28 23:24:52    1
2015-01-28 23:26:52    1
2015-01-28 23:28:52    1
2015-01-28 23:30:52    1
2015-01-28 23:32:52    1
2015-01-28 23:34:52    1
2015-01-28 23:36:52    1
2015-01-28 23:38:52    1
2015-01-28 23:40:52    1
                      ..
2018-12-19 04:15:37    1
2018-12-19 04:17:37    1
2018-12-19 04:19:37    1
2018-12-19 04:25:37    1
2018-12-19 04:27:37    1
2018-12-19 04:29:37    1
2018-12-19 04:31:37    1
2018-12-19 04:33:37    1
2018-12-19 04:35:37    1
2018-12-19 04:37:37    1
2018-12-19 04:39:37    1
2018-12-19 04:41:37    1
2018-12-19 04:43:37    1
2018-12-19 04:45:37    1
2018-12-19 04:47:37    1
2018-12-19 04:49:37    1
2018-12-19 04:51:37    1
2018-12-19 04:53:37    1
2018-12-19 04:55:37    1
2018-12-19 04:57:37    1
2018-12-19 04:59:37    1
2018-12-19 05:01:37    1
2018-12-19 05:03:37    1
2018-12-19 05:05:37    1
2018-12-19 05:07:37    1
2018-12-19 05:09:37    1
2018-12-19 05:11:37    1
2018-12-19 05:13:37    1
2018-12-19 05:15:37    1
2018-12-19 05:17:37    1
Name: Timestamp, Length: 647636, dtype: int64

In [224]:
#df_train=df_train.groupby(['Timestamp'],as_index=False).count().rename(columns={'count':'#Monthly_Sales'}).reset_index()
df_train.head()

,Timestamp,RI_Supplier1,RI_Distributor1,RI_Manufacturer1,RI_Retailer1,Total_Cost,SCMstability_category,#Sales
0,2018-02-09 12:44:39,1.6396,1.0422,3.1884,3.3609,133.06,4,NaN
1,2018-02-09 12:46:39,1.6399,1.0444,3.1877,3.3642,135.02,4,NaN
2,2018-02-09 12:48:39,1.6398,1.0422,3.1880,3.3676,135.36,4,NaN
3,2018-02-09 12:50:39,1.6403,1.0356,3.1877,3.3705,136.22,4,NaN
4,2018-02-09 12:52:39,1.6396,1.0595,3.1888,3.3731,136.48,4,NaN

In [57]:
#df_train=df_train.groupby(df_train['Timestamp'].dt.month).agg({'Timestamp':['count']}).rename(columns={'count':'#Monthly_Sales'})

In [198]:
df_train.head()

            Timestamp
                      #Monthly_Sales
0 2015-01-28 22:40:52              1
1 2015-01-28 22:42:52              1
2 2015-01-28 22:44:52              1
3 2015-01-28 22:46:52              1
4 2015-01-28 22:48:52              1

In [174]:
#df_train.columns=df_train.columns.droplevel(0)

In [177]:
#df_train['Timestamp']

In [185]:
df_train=df_train.reset_index()

In [161]:
#df_train['#Sales'] = 
#df_train=df_train.groupby(['Timestamp']).agg({'Timestamp':['count']}).rename(columns={'count':'#Sales'})

In [41]:
#df_train.columns=df_train.columns.droplevel(0)
#df.columns = ["_".join(x) for x in df.columns.ravel()]

In [189]:
df_train=df_train.reset_index()

In [190]:
df_train.head()

  index           Timestamp
                            #Monthly_Sales
0     0 2015-01-28 22:40:52              1
1     1 2015-01-28 22:42:52              1
2     2 2015-01-28 22:44:52              1
3     3 2015-01-28 22:46:52              1
4     4 2015-01-28 22:48:52              1

In [192]:
df_train.head()

  index           Timestamp
                            #Monthly_Sales
0     0 2015-01-28 22:40:52              1
1     1 2015-01-28 22:42:52              1
2     2 2015-01-28 22:44:52              1
3     3 2015-01-28 22:46:52              1
4     4 2015-01-28 22:48:52              1

In [162]:
df_train=df_train.resample('MS').sum()

TypeError: Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex, but got an instance of 'RangeIndex'

In [120]:
df_train=df_train.reset_index()

In [117]:
#df_trainnn=df_train.resample('MS').sum()

In [118]:
#df_trainnn=df_trainnn.reset_index()

In [121]:
df_train.head()

   Timestamp  #Monthly_Sales
0 2015-01-01            2048
1 2015-02-01           18482
2 2015-03-01           20429
3 2015-04-01           19744
4 2015-05-01           20406

In [129]:
df_trainnn.head()

   Timestamp  #Monthly_Sales
0 2015-01-01            2048
1 2015-02-01           18482
2 2015-03-01           20429
3 2015-04-01           19744
4 2015-05-01           20406

In [123]:
df_train.head()

            #Monthly_Sales
Timestamp
2015-01-01            2048
2015-02-01           18482
2015-03-01           20429
2015-04-01           19744
2015-05-01           20406

In [133]:
df_train.reset_index()

    Timestamp  #Monthly_Sales
0  2015-01-01            2048
1  2015-02-01           18482
2  2015-03-01           20429
3  2015-04-01           19744
4  2015-05-01           20406
5  2015-06-01           19757
6  2015-07-01           18744
7  2015-08-01           19530
8  2015-09-01           19987
9  2015-10-01           20589
10 2015-11-01           19703
11 2015-12-01           19904
12 2016-01-01           19404
13 2016-02-01           18629
14 2016-03-01           20057
15 2016-04-01           19730
16 2016-05-01           20397
17 2016-06-01           19883
18 2016-07-01           20352
19 2016-08-01           20197
20 2016-09-01           19821
21 2016-10-01           20267
22 2016-11-01           19682
23 2016-12-01            4665
24 2017-01-01               0
25 2017-02-01               0
26 2017-03-01               0
27 2017-04-01               0
28 2017-05-01               0
29 2017-06-01               0
30 2017-07-01               0
31 2017-08-01               0
32 2017-09-01               0
33 2017-10-01               0
34 2017-11-01               0
35 2017-12-01               0
36 2018-01-01               0
37 2018-02-01           15293
38 2018-03-01           20709
39 2018-04-01           19580
40 2018-05-01           19894
41 2018-06-01           20056
42 2018-07-01           20488
43 2018-08-01           20499
44 2018-09-01           20078
45 2018-10-01           19130
46 2018-11-01           19786
47 2018-12-01           12079

In [146]:
df_train.set_index('Timestamp',inplace=True)

KeyError: 'Timestamp'

In [125]:
from matplotlib import pyplot as plt

In [144]:
df_train['#Monthly_Sales']

Timestamp
2015-01-01     2048
2015-02-01    18482
2015-03-01    20429
2015-04-01    19744
2015-05-01    20406
2015-06-01    19757
2015-07-01    18744
2015-08-01    19530
2015-09-01    19987
2015-10-01    20589
2015-11-01    19703
2015-12-01    19904
2016-01-01    19404
2016-02-01    18629
2016-03-01    20057
2016-04-01    19730
2016-05-01    20397
2016-06-01    19883
2016-07-01    20352
2016-08-01    20197
2016-09-01    19821
2016-10-01    20267
2016-11-01    19682
2016-12-01     4665
2017-01-01        0
2017-02-01        0
2017-03-01        0
2017-04-01        0
2017-05-01        0
2017-06-01        0
2017-07-01        0
2017-08-01        0
2017-09-01        0
2017-10-01        0
2017-11-01        0
2017-12-01        0
2018-01-01        0
2018-02-01    15293
2018-03-01    20709
2018-04-01    19580
2018-05-01    19894
2018-06-01    20056
2018-07-01    20488
2018-08-01    20499
2018-09-01    20078
2018-10-01    19130
2018-11-01    19786
2018-12-01    12079
Name: #Monthly_Sales, dtype: int64

In [138]:
# Two subplots, the axes array is 1-d
f, axarr = plt.subplots(2, sharex=True)
f.set_size_inches(5.5, 5.5)
axarr[0].set_title('Monthly Sales')
plt.plot(df_train['Timestamp'],df_train['#Monthly_Sales'],)
plt.show()

KeyError: 'Timestamp'